@charset "UTF-8";
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 16, ../sass/main.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../sass/main.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/main.scss */
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: #ffffff;
}

/* line 36, ../sass/main.scss */
a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 48, ../sass/main.scss */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
/* line 53, ../sass/main.scss */
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 70, ../sass/main.scss */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
/* line 81, ../sass/main.scss */
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
/* line 85, ../sass/main.scss */
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  /* line 70, ../sass/main.scss */
  .cd-header {
    height: 70px;
  }
  /* line 93, ../sass/main.scss */
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

/* main nav */
@media only screen and (min-width: 320px) {
  /* line 102, ../sass/main.scss */
  .main-nav {
    position: absolute;
    top: 0px;
    float: left;
    width: 100%;
    padding: 15px;
    background: #f9f9f9 url("../img/cd-icon-menu.svg") no-repeat left center;
    cursor: pointer;
  }

  /* line 112, ../sass/main.scss */
  .main-nav ul {
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  /* line 120, ../sass/main.scss */
  .main-nav ul.is-visible {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    background-color: #f8f8f8;
    margin-left: -15px;
  }

  /* line 126, ../sass/main.scss */
  .main-nav ul li {
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-top: 13px;
    color: #8e7d7f;
  }

  /* line 133, ../sass/main.scss */
  .main-nav ul li:hover {
    background: #cedff2;
  }
}
@media only screen and (min-width: 768px) {
  /* line 140, ../sass/main.scss */
  .main-nav {
    padding: 5px 0 20px 0;
    margin: 0 0 15px 0;
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: auto;
    height: 59px;
    background-color: #f9f9f9;
    background-image: none;
  }

  /* line 151, ../sass/main.scss */
  .main-nav ul {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    position: static;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
  }

  /* line 161, ../sass/main.scss */
  .main-nav ul li {
    display: inline;
    padding: 30px 30px 30px 25px;
    margin: 0px 0px 50px 0px;
  }

  /* line 167, ../sass/main.scss */
  .main-nav ul li:hover {
    background: #cedff2;
  }

  /* line 171, ../sass/main.scss */
  .main-nav ul.is-visible {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* コンテンツ */
/* line 181, ../sass/main.scss */
.item {
  border-radius: 10px;
  background: #fff;
  padding: 1.5em;
  border: 1px solid #999;
  margin: 0 .5em 1.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 194, ../sass/main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 199, ../sass/main.scss */
p {
  text-align: left;
}

@media only screen and (min-width: 320px) {
  /* line 206, ../sass/main.scss */
  .flexbox {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1050px) {
  /* line 213, ../sass/main.scss */
  .flexbox {
    width: 800px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: center;
    flex-direction: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  /* line 222, ../sass/main.scss */
  .item {
    width: 25%;
  }
}
